
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* shared styles */

.body-regular-02 {
    font-size: 4rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.bg-color {
    background-color: rgba(28, 130, 250, 1);
}

.display-flex {
    display: flex;
}

.txt-dec-none {
    text-decoration: none;
}

.white-colr {
    color: white;
}


/* nav related styles */

.navbar {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-div {
    justify-content: space-between;
    align-items: center;
    opacity: 0.8;
}

.brand-name {
    font-size: 1.125rem;
    font-weight: 400;
    margin-left: 147px;
}

 .nav-links {
    display: flex; 
    gap: 32px;
    margin-right: 140px;
    
}

.nav-links li {
    list-style: none;
    font-size: 1rem;
    
}

.nav-links li > a {
    text-decoration: none;
    
}

.nav-links a {
    color: white;
}